<p style="color: green"><%= notice %></p>

<%= render @swatch %>

<div>
  <% if current_user && current_user.admin? %>
    <%= link_to "Edit this swatch", edit_admin_swatch_path(@swatch) %> |
    <%= button_to "Destroy this swatch", swatch_path(@swatch), method: :delete %>
  <% end %>

  <%= link_to "Back to swatches", swatches_path %>
</div>
